
---
title: Create Custom Branded UPI/Bharat QR code with Razorpay MultiQR
description: Unlimited UPI/Bharat QR codes for merchants. Put your Business Name, Logo on QR codes. Accept digital payments from customers using UPI apps, wallets, cards directly.
--- // ex
// section 1 start
section#section1.bannersection
  .sec1left
    | Go Digital,
    br
    | Grow Digital
    span Turbocharge your digital business
  .sec2right
    img.lazy(data-src="/assets/education/payment-button.svg", alt="banner-img")
// section2 start
section#section2.digitalpayments
  h1 Simplifying Digital for Businesses
  h2 Building an effective ecosystem for  growth
  .sec2inside
    .boxone
      .box1left
        img.lazy(data-src="/assets/education/Startonlinebusiness.svg", alt="start-online-business")
      .box2right
        | Powerful payment and digital solutions to 
        strong start online business
    .boxone
      .box1left
        img.lazy(data-src="/assets/education/onthegodark.svg", alt="accept-payments")
      .box2right
        | Grow your online business with our end-to-end 
        strong payment solution for your website and app
    .boxone
      .box1left
        img.lazy(data-src="/assets/education/paymentsolutions.svg", alt="payments-solutions")
	  .box2right
        | Accept payments 
        strong on the go
        |  with our mobile-first product suite
    .boxone
      .box1left
        img.lazy(data-src="/assets/education/Nevermissout.svg", alt="secure-contactless-payments")
      .box2right
        | Secure 
        strong Contactless Payments
        |  to allow your store customers to pay using their preferred payment mode
// section3 strat
section#section3.slidersection
  h1 Trusted by next gen brands 
  .slick.marquee
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/payment-button.svg", alt="payment-button")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/furlenco.svg", alt="furlenco")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/indigo.svg", alt="indigo")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/kama.svg", alt="kama")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/mama-earth.svg", alt="mama-earth")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/Ola-ElectricLogos.svg", alt="ola-ElectricLogos")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/shopkirana.svg", alt="shopkirana")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/upgradelogo.svg", alt="upgradelogo")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/vijay-sales.svg", alt="vijay-sales")
    .slick-slide
      .inner
        img.lazy(data-src="/assets/education/zivame.svg", alt="zivame")
#tabs.tabsnav
  ul#onepage-nav
    li
      a#tab1.scroll.active(href='#StartOnlineBusiness') Start online business
    li
      a#tab2.scroll(href='#PaymentsforWebsiteandApp') Payments for website and app
    li
      a#tab3.scroll(href='#OntheGoBusiness') On the go business
    li
      a#tab4.scroll(href='#ContactlessPayments') Contactless payments
section#desktopTabs
  // section 4 start
  #StartOnlineBusiness.container1.section4
    img.lazy.sec4back(data-src="/assets/education/sec4bg.svg", alt="sec4bg")
    img.lazy(data-src="/assets/education/Startonlinebusiness.svg", alt="start-online-business")
    h1 Start selling online without a website
    p
      | Set up your business and accept payments for startups, entrepreneurs and freelancers who are just starting their business journey
    ul.sec4pointers
      li No coding required
      li Easy to use
      li Go live in few minutes
    .sec4inside
      .sec4box1
        a(href='https://razorpay.typeform.com/to/e7htPvlI#email=xxxxx' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymenthuddle.svg", alt="paymenthuddle")
          h2 Payment Handle
          ul
            li Your very own personalised link to collect payments
            li No hassle of logging in every time
            li Copy, share and get paid instantly
          span Sign up for early access &gt;
      .sec4box1
        a(href='https://razorpay.com/payment-links/' target='_blank')
           svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentlinks.svg", alt="paymentlinks")
          h2 Payment Links
          ul
            li Create a link from dashboard or app
            li Share via WhatsApp, SMS or social channels
            li Set automated reminders and link expiry
          span Explore &gt;
      .sec4box1
        a(href='https://razorpay.com/payment-pages/' target='_blank')
           svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentpages.svg", alt="paymentpages")
          h2 Payment Pages
          ul
            li Build branded web pages
            li Zero coding involved
            li Customise content, images, and links
          span Explore &gt;
      .sec4box1
        a(href='#' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/stores.svg", alt="stores")
          h2 Stores
          ul
            li Create catalogues and share via social channels
            li Easy and free set-up, start selling online in minutes
            li Track orders and record payments on one dashboard
          span Sign up for early access &gt;
  // section 4 end
  // section 5 start
  #PaymentsforWebsiteandApp.section5.container1
    img.lazy.boxicon(data-src="/assets/education/Paymentsforwebsiteapp.svg", alt="Paymentsforwebsiteapp")
    h1 Powerful payment solutions for your online business
    p Powerful payment solutions for your online business
    ul.sec5pointers
      li Hassle free onboarding
      li Easy integration
      li Accept payments in minutes
    .sec5inside
      .sec5box1
        a(href='https://razorpay.com/payment-gateway/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentgatewaydark.svg", alt="paymentgatewaydark")
          h2 Payment Gateway
          ul
            li Developer friendly integration with any website/ app
            li Supports all major e-commerce plugins
            li Highly secure payments infrastructure
          span Explore &gt;
      .sec5box1
        a(href='https://razorpay.com/payment-buttons/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentbutton.svg", alt="paymentbutton")
          h2 Payment Buttons
          ul
            li Collect payments on your website with zero coding
            li Accept one time &amp; recurring payments
            li Go live in less than 5 mins
          span Know More &gt;
      .sec5box1
        a(href='https://razorpay.com/payment-links/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentlinksdark.svg", alt="paymentlinksdark")
          h2 Payment Links
          ul
            li Create a link from dashboard or app
            li Share via WhatsApp, SMS or social channels
            li Set automated reminders and link expiry
          span Explore &gt;
      .sec5box1
        a(href='https://razorpay.com/payment-pages/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentpagesdark.svg", alt="paymentpagesdark")
          h2 Payment Pages
          ul
            li Build branded web pages
            li Zero coding involved
            li Customise content, images, and links
          span Explore &gt;
  // section6 start
  #OntheGoBusiness.section6.container1
    img.onthegobg(src='images/Onthegobg.svg' alt='on-the-go-bg')
    img(src='images/paymentsolutions.svg' alt='manage-your-business')
    h1 Manage your business from anywhere, anytime
    p Set up online presence, accept payments and track transactions on the go
    ul.sec6pointers
      li No coding required
      li No integration
      li Get started in minutes
    .section6insideTop
      .sec6box1Top
        a(href='https://razorpay.com/payments-app/' target='_blank')
          svg.svg-corner.svg-desktop.mobile(xmlns='http://www.w3.org/2000/svg' width='700' height='500' fill='#ffffff') path.border(d='M 0.5 219.511 V 6 A 5.5 5.5 0 0 1 6 0.5 h 216.883 c 4.105 0 8.042 1.628 10.948 4.527 l 77.116 76.937 a 15.499 15.499 0 0 1 4.553 10.973 v 358.063 a 5.501 5.501 0 0 1 -6.5 6 l -304 -0.48 a 5.5 5.5 0 0 1 -5 -5.52 z' stroke='#4AECCB')
          svg.svg-corner.svg-desktop.desktop(xmlns='http://www.w3.org/2000/svg' width='700' height='350' fill='#ffffff')
            path.border(d='M 2 224 V 6 A 5.5 5.5 0 0 1 6 0.5 h 588 c 13 0.5 16 -1.5 21 5.5 l 77.116 76.937 a 15.499 15.499 0 0 1 4.553 10.973 v 198.09 a 5.501 5.501 0 0 1 -2.669 3 l -688 3 A 5.5 5.5 0 0 1 1 291 z' stroke='#4AECCB')
          img.lazy..boxicon(data-src="/assets/education/razorpaymobileapp.svg", alt="mobile-app")
          h2 Razorpay Mobile App
          h4 One mobile app for all your digital payments needs
          ul.section6inline
            li Get your unique Payment Handle
            li Create and share Payment Links instantly
            li Integrate Payment Gateway easily
            li Track your payments on the go
          ul.section6inline
            li Issue refunds with a single click
            li Get detailed payment insights
            li Backed by the safety &amp; security of Razorpay
            li.list-styleno
              span Explore &gt;
    .sec6inside
      .sec6box1
        a(href='https://razorpay.typeform.com/to/e7htPvlI#email=xxxxx' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymenthuddledark.svg", alt="payment-handle")
          h2 Payment Handle
          ul
            li Your very own personalised link to collect payments
            li No hassle of logging in every time
            li Copy, share and get paid instantly
          span Sign up for early access &gt;
      .sec6box1
        a(href='https://razorpay.com/payment-links/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentlinksdark.svg", alt="payment-links")
          h2 Payment Links
          ul
            li Create a link from dashboard or app
            li Share via WhatsApp, SMS or social channels
            li Set automated reminders and link expiry
          span Explore &gt;
      .sec6box1
        a(href='https://razorpay.com/payment-pages/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/paymentpagesdark.svg", alt="paymentpagesdark")
          h2 Payment Pages
          ul
            li Build branded web pages
            li Zero coding involved
            li Customise content, images, and links
          span Explore &gt;
  // section7 start
  #ContactlessPayments.section7.container1
    img.sec7back(src='images/sec7bg.svg' alt='sec7-back-shape')
    img(src='images/Nevermissout.svg')
    h1 Never miss out on any in-store or COD sale with our mobile based solutions
    p Secure and convenient solutions for offline businesses
    ul.sec7pointers
      li Super intuitive
      li Always on the go
      li Best success rates
    .sec7inside
      .sec7box1
        a(href='https://razorpay.com/qr-code/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0f1b38') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/multiqr.svg", alt="multiqr")
          h2 MultiQR
          ul
            li Accept UPI payments for FREE
            li Personalised QR with your business logo
            li Generate unlimited QRs. No restrictions.
            li SMS and email alerts for all payments
          span Explore &gt;
      .sec7box1
        a(href='https://razorpay.com/payments-app/' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0f1b38') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/mobileapp.svg", alt="mobile-app")
          h2 Mobile App
          ul
            li Accept payments at store and on the go
            li Collect in-store card payments
            li Get detailed payment insights
            li Backed by the safety &amp; security of Razorpay
          span Explore &gt;
      .sec7box1
        a(href='https://razorpay.typeform.com/to/FuLkWeaT#email=xxxxx' target='_blank')
          svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0f1b38') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
          img.lazy.boxicon(data-src="/assets/education/taponglass.svg", alt="taponglass")
          h2 Tap on Glass
          ul
            li Collect card payments using your NFC android smartphone
            li Let customers tap their credit &amp; debit cards to pay
          span Sign up for early access &gt;
#MobileAccordian
  .accordion_container
    .accordion_head
      | Start online business 
      span.plusminus +
    .accordion_body
      section#StartOnlineBusiness.container1.section4
        img.lazy.boxicon(data-src="/assets/education/sec4bg.svg", alt="sec4back-shape")
        h1 Start selling online without a website
        p
          | Set up your business and accept payments for startups, entrepreneurs and freelancers who are just starting their business journey
        ul.sec4pointers
          li No coding required
          li Easy to use
          li Go live in few minutes
        .sec4inside
          .sec4box1
            a(href='https://razorpay.typeform.com/to/e7htPvlI#email=xxxxx' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymenthuddle.svg", alt="paymenthuddle")
              h2 Payment Handle
              ul
                li Your very own personalised link to collect payments
                li No hassle of logging in every time
                li Copy, share and get paid instantly
              span Sign up for early access &gt;
          .sec4box1
            a(href='https://razorpay.com/payment-links/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymentlinks.svg", alt="paymentlinks")
              h2 Payment Links
              ul
                li Create a link from dashboard or app
                li Share via WhatsApp, SMS or social channels
                li Set automated reminders and link expiry
              span Explore &gt;
          .sec4box1
            a(href='https://razorpay.com/payment-pages/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
             img.lazy.boxicon(data-src="/assets/education/paymentpages.svg", alt="paymentpages")
              h2 Payment Pages
              ul
                li Build branded web pages
                li Zero coding involved
                li Customise content, images, and links
              span Explore &gt;
          .sec4box1
            a(href='#' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0b1b42') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/stores.svg", alt="stores")
              h2 Stores
              ul
                li Create catalogues and share via social channels
                li Easy and free set-up, start selling online in minutes
                li Track orders and record payments on one dashboard
              span Sign up for early access &gt;
    .accordion_head
      | Payments for website &amp; app 
      span.plusminus +
    .accordion_body
      section#PaymentsforWebsiteandApp.section5.container1
        img(src='images/Paymentsforwebsiteapp.svg' alt='payment-for-website-and-app')
        h1 Powerful payment solutions for your online business
        p Powerful payment solutions for your online business
        ul.sec5pointers
          li Hassle free onboarding
          li Easy integration
          li Accept payments in minutes
        .sec5inside
          .sec5box1
            a(href='https://razorpay.com/payment-gateway/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymentgatewaydark.svg", alt="paymentgatewaydark")
              h2 Payment Gateway
              ul
                li Developer friendly integration with any website/ app
                li Supports all major e-commerce plugins
                li Highly secure payments infrastructure
              span Explore &gt;
          .sec5box1
            a(href='https://razorpay.com/payment-buttons/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymentbutton.svg", alt="paymentbutton")
              h2 Payment Buttons
              ul
                li Collect payments on your website with zero coding
                li Accept one time &amp; recurring payments
                li Go live in less than 5 mins
              span Know More &gt;
          .sec5box1
            a(href='https://razorpay.com/payment-links/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymentlinksdark.svg", alt="paymentlinksdark")
              h2 Payment Links
              ul
                li Create a link from dashboard or app
                li Share via WhatsApp, SMS or social channels
                li Set automated reminders and link expiry
              span Explore &gt;
          .sec5box1
            a(href='https://razorpay.com/payment-pages/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymentpagesdark.svg", alt="paymentpagesdark")
              h2 Payment Pages
              ul
                li Build branded web pages
                li Zero coding involved
                li Customise content, images, and links
              span Explore &gt;
    .accordion_head
      | On the go Business
      span.plusminus +
    .accordion_body
      section#OntheGoBusiness.section6.container1
        img.lazy.boxicon(data-src="/assets/education/Onthegobg.svg", alt="Onthegobg")
        img.lazy.boxicon(data-src="/assets/education/paymentsolutions.svg", alt="paymentsolutionss")
        h1 Manage your business from anywhere, anytime
        p Set up online presence, accept payments and track transactions on the go
        ul.sec6pointers
          li No coding required
          li No integration
          li Get started in minutes
        .section6insideTop
          .sec6box1Top
            a(href='https://razorpay.com/payments-app/' target='_blank')
              svg.svg-corner.svg-desktop.mobile(xmlns='http://www.w3.org/2000/svg' width='700' height='500' fill='#ffffff') path.border(d='M 0.5 219.511 V 6 A 5.5 5.5 0 0 1 6 0.5 h 216.883 c 4.105 0 8.042 1.628 10.948 4.527 l 77.116 76.937 a 15.499 15.499 0 0 1 4.553 10.973 v 358.063 a 5.501 5.501 0 0 1 -6.5 6 l -304 -0.48 a 5.5 5.5 0 0 1 -5 -5.52 z' stroke='#4AECCB')
              svg.svg-corner.svg-desktop.desktop(xmlns='http://www.w3.org/2000/svg' width='700' height='350' fill='#ffffff') path.border(d='M 2 224 V 6 A 5.5 5.5 0 0 1 6 0.5 h 588 c 13 0.5 16 -1.5 21 5.5 l 77.116 76.937 a 15.499 15.499 0 0 1 4.553 10.973 v 198.09 a 5.501 5.501 0 0 1 -2.669 3 l -688 3 A 5.5 5.5 0 0 1 1 291 z' stroke='#4AECCB')
              img.lazy.boxicon(data-src="/assets/education/razorpaymobileapp.svg", alt="razorpaymobileapp")
              h2 Razorpay Mobile App
              h4 One mobile app for all your digital payments needs
              ul.section6inline
                li Get your unique Payment Handle
                li Create and share Payment Links instantly
                li Integrate Payment Gateway easily
                li Track your payments on the go
              ul.section6inline
                li Issue refunds with a single click
                li Get detailed payment insights
                li Backed by the safety &amp; security of Razorpay
                li.list-styleno
                  span Explore &gt;
        .sec6inside
          .sec6box1
            a(href='https://razorpay.typeform.com/to/e7htPvlI#email=xxxxx' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymenthuddledark.svg", alt="paymenthuddledark")
              h2 Payment Handle
              ul
                li Your very own personalised link to collect payments
                li No hassle of logging in every time
                li Copy, share and get paid instantly
              span Sign up for early access &gt;
          .sec6box1
            a(href='https://razorpay.com/payment-links/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymentlinksdark.svg", alt="paymentlinksdark")
              h2 Payment Links
              ul
                li Create a link from dashboard or app
                li Share via WhatsApp, SMS or social channels
                li Set automated reminders and link expiry
              span Explore &gt;
          .sec6box1
            a(href='https://razorpay.com/payment-pages/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#ffffff') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/paymentpagesdark.svg", alt="paymentpagesdark")
              h2 Payment Pages
              ul
                li Build branded web pages
                li Zero coding involved
                li Customise content, images, and links
              span
                | Explore &gt;
                span
    .accordion_head
      | Contactless payment
      span.plusminus +
    .accordion_body
      section#ContactlessPayments.section7.container1
        img.lazy.boxicon(data-src="/assets/education/sec7bg.svg", alt="sec7bg")
        img.lazy.boxicon(data-src="/assets/education/Nevermissout.svg", alt="Nevermissout")
        h1 Never miss out on any in-store or COD sale with our mobile based solutions
        p Secure and convenient solutions for offline businesses
        ul.sec7pointers
          li Super intuitive
          li Always on the go
          li Best success rates
        .sec7inside
          .sec7box1
            a(href='https://razorpay.com/qr-code/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0f1b38') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/multiqr.svg", alt="multiqr")
              h2 MultiQR
              ul
                li Accept UPI payments for FREE
                li Personalised QR with your business logo
                li Generate unlimited QRs. No restrictions.
                li SMS and email alerts for all payments
              span Explore &gt;
          .sec7box1
            a(href='https://razorpay.com/payments-app/' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0f1b38') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/mobileapp.svg", alt="mobileapp")
              h2 Mobile App
              ul
                li Accept payments at store and on the go
                li Collect in-store card payments
                li Get detailed payment insights
                li Backed by the safety &amp; security of Razorpay
              span Explore &gt;
          .sec7box1
            a(href='https://razorpay.typeform.com/to/FuLkWeaT#email=xxxxx' target='_blank')
              svg.svg-corner.svg-desktop(xmlns='http://www.w3.org/2000/svg' width='316' height='350' fill='#0f1b38') path.border(d='M.5 219.511V6A5.5 5.5 0 016 .5h216.883c4.105 0 8.042 1.628 10.948 4.527l77.116 76.937a15.499 15.499 0 014.553 10.973v190.054a5.501 5.501 0 01-5.509 5.5l-304-.48a5.5 5.5 0 01-5.491-5.5z' stroke='#4aeccb')
              img.lazy.boxicon(data-src="/assets/education/taponglass.svg", alt="taponglass")
              h2 Tap on Glass
              ul
                li Collect card payments using your NFC android smartphone
                li Let customers tap their credit &amp; debit cards to pay
              span Sign up for early access &gt;
// section 8 start
section#section8.section8
  h1 Why our clients choose us?
  .sec8inside
    .boxone1
      .box1left1
        img.lazy(data-src="/assets/education/Instantactivation.svg", alt="instant-activation")
      .box2right1
        span Instant Activation
        |  Complete only onboarding. Get activated &amp; start transacting in minutes
    .boxone1
      .box1left1
        img.lazy(data-src="/assets/education/Internationalpayments.svg", alt="international-payments")
      .box2right1
        span International payments
        |  Take your business global &amp; reach international buyers with no additional integration costs
    .boxone1
      .box1left1
        img.lazy(data-src="/assets/education/100paymentmodes.svg", alt="international-payments")
      .box2right1
        span 100+ payment modes
        |  The most extensive set of payment methods with UPI, Wallets, Credit &amp; Debit cards, Netbanking, EMIs and PayLater
    .boxone1
      .box1left1
        img.lazy(data-src="/assets/education/Robustsecurity.svg", alt="Robustsecurity")
      .box2right1
        span Robust security
        |  PCI DSS Level 1 compliant along with frequent third party audits. 
        a(href='https://razorpay.com/links/secure-payments-using-razorpay' target='_blank') Learn more
    .boxone1
      .box1left1
        img.lazy(data-src="/assets/education/Dashboardreporting.svg", alt="dashboardreporting")
      .box2right1
        span Dashboard reporting
        |  Real-time data and insights on payments, settlements, refunds to make informed decisions
    .boxone1
      .box1left1
        img.lazy(data-src="/assets/education/Transparentpricing.svg", alt="transparent-pricing")
      .box2right1
        span Transparent pricing
        |  No set up or maintenance fee. Pay only when you get paid!
script(defer, src='js/custom.js' type='text/javascript')

section.endsection
+endsection-plain-svg('#001E96','#001E96')
	.container
	h2.puck-ter.colored Get exciting features with Razorpay MultiQR
	p.size-md.restrict.
		Sign up now to experience the future of payments and offer your customers the best checkout experience.
	ul.list
		li Accept UPI payments for FREE
		li Personalised QR with your business logo
		li Generate unlimited QRs. No restrictions.
		li SMS and email alerts for all payments
	+button-anchor(text='Sign Up' class="signupCTA"
		data-lytics="click"
		data-lytics-category="Website - Rzp Bottom"
		data-lytics-action="Click - Signup"
		data-location="footer"
		arrow
		small)
append scripts
 script(defer, src='/qr-code.js')
 script(defer, src='/slick.min.js')
 script(src='https://www.google.com/recaptcha/api.js' defer)


